# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Generic
Thumbs.db
Desktop.ini
.directory
.DS_Store
._*
*.cache
*.crt
*.log
*.old
*.key
*.pem
*.tmp
*.zip
*~

# Developments
# --------------------------
.env.*
.env
.runtimeconfig.json
.tool-versions
.vite-ssg-temp
dist
gcp-zeitnow.json
node_modules
service-account-key.json
src/.auto-imports.d.ts
src/.components.d.ts
src/.typed-router.d.ts

# But Keep these
# --------------------------
!.env.*.example
!.env.example
!.gitkeep
