# Generic
# --------------------------
Thumbs.db
Desktop.ini
.directory
*.cache
*.log
*.old
*.zip
._
*~

# IDE Project Configurations
# --------------------------
/nbproject
/.idea
/.settings
/.vscode
/.project
/*.sublime-*

# Developments
# --------------------------
dist
node_modules
serviceAccountKey.json
.runtimeconfig.json
.env.*
.env

# But Keep these
# --------------------------
!.gitkeep
