# Generic
# --------------------------
Thumbs.db
Desktop.ini
Icon?
.directory
*.cache
*.log
*.old
*.zip
._
*~

# IDE Project Configurations
# --------------------------
nbproject
.idea
.settings
.vscode
.project
*.sublime-*

# Developments
# --------------------------
node_modules
dist
.env.*
.env

# But Keep these
# --------------------------
!.gitkeep
