/**
 * Page content
 */
.page {

  &-heading {
    font-size: 20px;
  }

  &-header {
    margin-bottom: 0;
  }

  &-title {
    font-size: 42px;
    letter-spacing: -1px;
    // line-height: 1;
    margin-bottom: .5em;

    @include breakpoint(large) {
      font-size: 36px;
    }
  }

  .archives &-title {
    margin-bottom: 1.5em;
  }

  .archives &-header &-title {
    font-size: 24px;
  }

  &-meta {
    color: _palette(fg);
  }

  &-link {
    border-bottom: 0;
  }

  // &-meta {
  //   color: $grey-color;
  // }

  &-content {
    padding: 0;
    margin-bottom: 3em;

    p:last-child {
      margin: 0;
    }

    aside {
      span {
        display: block;
      }

      li {
        margin-top: 1em;
      }
    }
  }

  &-footer {
    font-size: 20px;
  }

  #works &-title {
    font-size: 24px;
  }

  #works &-content {
    font-size: 0.8em;
    line-height: 1.5em;
  }
}
