---
layout: default
---
<section class="page h-entry">
  <header class="page-header">
    <span class="page-meta">
      <time class="published" datetime="{{ page.date }}">{{ page.date | date: "%b %-d, %Y" }}</time>
      {% if page.tags %} • <span class="p-category">{{ page.tags | join: ', ' }}</span>{% endif %}
    </span>
    <h1 class="page-title entry-title">{{ page.title }}</h1>
    {% include page-thumbnail.html %}
  </header>

  <article class="page-content">
    <div class="row">
      <div class="8u">{{ content }}</div>
      <aside class="4u">
        <ul class="labeled-icons">
          <li>
            <h3 class="icon fa-building"><span class="label">Client</span></h3>
            <a href="{{ page.home }}" rel="nofollow" target="_blank">{{ page.client }}</a>
          </li>
          <li>
            <h3 class="icon fa-calendar"><span class="label">Date</span></h3>
            {{ page.date | date: "%b %-d, %Y" }}
          </li>
          {% if page.tags %}
          <li>
            <h3 class="icon fa-tags"><span class="label">Tags</span></h3>
            {{ page.tags | join: ', ' }}
          </li>
          {% endif %}
        </ul>
      </aside>
    </div>
  </article>

  <footer class="page-footer">
    {% if site.show_sharing_icons %}{% include share_buttons.html %}{% endif %}
  </footer>
</section>
