@import '@fontsource/merriweather-sans/latin-400.css';
@import '@fontsource/merriweather-sans/latin-400-italic.css';
@import '@fontsource/merriweather-sans/latin-700.css';
@import '@fontsource/merriweather-sans/latin-700-italic.css';
@import '@fontsource/fira-code/latin-400.css';

:root {
  --prism-block-padding-y: 0.5em;
  --prism-block-radius: 0.25rem;
}

html,
body,
#app {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.prose pre:not(.shiki) {
  padding: 0;
}

.prose .shiki {
  font-family: 'Fira Code', monospace;
}

.shiki,
.shiki span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
}

html {
  @apply bg-gray-200;
}

.prose blockquote {
  @apply border-gray-400;
}

#nprogress {
  pointer-events: none;

  .bar {
    @apply bg-teal-600 opacity-75;

    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px;
  }
}
